
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header class="titulo">
    <h1>Avengers</h1>
    <img src="https://i.pinimg.com/564x/b9/b0/58/b9b0587163a81c8153f3bdc0833fbf93.jpg">
  </header>
  <section class="historia">
    <h1>Historia</h1>
    <p>La saga de Los Vengadores es una serie de películas producidas por Marvel Studios y ambientadas en su Universo cinematográfico; en ellas, se reúnen sus principales héroes para combatir una gran amenaza.</p>
  </section>
  <section class="motivos">
    <h1>Motivos por los que me gusta</h1>
    <ol>
      <li>Su trama</li>
      <li>Sus graficos</li>
      <li>Sus personajes</li>
    </ol>
  </section>
  <section class="personajes">
    <h1>Personajes</h1>
    <ul>
      <li>Iro man</li>
      <li>Capitan America</li>
      <li>Hulk</li>
      <li>Viuda negra</li>
      <li>Hawkeye</li>
    </ul>
  </section>
  <section class="otras">
    <h1>Otras peliculas o series similares</h1>
    <h3>Black Panter</h3>
    <p>En Black Panther, T'Challa es coronado rey de Wakanda tras la muerte de su padre, pero su soberanía es cuestionada por un adversario que planea abandonar las políticas aislacionistas del país e iniciar una revolución mundial.</p>
  </section>
  <section class="cambio">
    <h3>Black Widow</h3>
    <p>Natasha nació en Rusia, creció durante la Guerra Fría y fue entrenada para ser una asesina a sangre fría. En otras palabras: comportarse así ha estado en sus raíces desde que apareció por primera vez en Tales of Suspense (1952) nº 52, un cómic firmado por Stan Lee, y los artistas Don Rico y Don Heck.</p>
  </section>
</body>
</html>